<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- link file css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav class="contanier">
            <i id="btn-menu" class="fa-solid fa-bars"></i>
            <div class="nav-links">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#Portfolio">Portfolio</a>
                <a href="#Contact">Contact</a>
            </div>
        </nav>
    </header>
<!-- start home sec -->
    <div class="hero" id="home">
        <div class="contanier">
            <div class="content">
                <h4>Hello, I'm</h4>
                <h1>Isma Nouman</h1>
                <h2>Python Developer</h2>
                <p>As a recent completed a short course in Python development, I am 
                  eager to apply my knowledge and skills to gain hands-on experience
                  in a dynamic internship role. I am passionate about software development
                  and seek an opportunity to contribute to a forward-thinking team.</p>
                <a href="static/resume/RESUME.pdf" class="btn">Download Resume</a>
            </div>


            <div class="hero-img">
              <img src="static/img/hi.png" alt="">            
            </div>
        </div>
    </div>

    <!-- start about sec -->

    <section id="about" class="about">
        <div class="contanier">
            <div class="about-img">
                <img src="static/img/about.png" alt="">
            </div>
            <div class="content">
                <h1>About <span>Me</span></h1>
                <h3>Python-backend
                      & 
                      Front-End Developer
                </h3>
                <p>Python developer with expertise in front-end technologies including HTML, CSS, and Bootstrap. Experienced in building dynamic web applications using Python and Django. 
                    Passionate about creating seamless user experiences through innovative design and precise coding.</p>
                     <div class="btns">
                        <a href="#Contact" class="btn">Contact Me</a>
                     </div>
            </div>
        </div>
    </section>

    <!-- start Services -->

    <section id="services" class="services">
        <div class="contanier">
            <div class="sec-top">
                <h1><font color="white">My </font><span>Services</span></h1>
            </div>

            <div class="boxs">

                <div class="box">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <h3>Website-Development</h3>
                    <p>Create modern and responsive websites that captivate your audience. I specialize in using 
                      Django and other Python-based web frameworks to build robust, feature-rich, and visually appealing websites.</p>

                </div>

                <div class="box">
                  <i class="fa-solid fa-file-code"></i>
                    <h3>Backend-Python-Development</h3>
                    <p>Harness the power of Python for building the backend of your applications. I design, develop, 
                      and maintain scalable and secure server-side solutions.</p>

                </div>

                <div class="box">
                  <i class="fa-solid fa-code"></i>
                  <h3>Custom-Software-Development</h3>
                  <p>If you need a tailored solution for your business, I can transform 
                    your concept into a reality. I excel in creating custom software applications, 
                    and data-driven solutions that streamline your operations.</p>

                </div>

                <div class="box">
                    <i class="fa-solid fa-database"></i>
                    <h3>Database-Management</h3>
                    <p>Ensure your data is organized, accessible, and secure. I specialize in database management and 
                      optimization, using Python libraries and frameworks to handle data storage, retrieval, and analysis.</p>

                </div>

                <div class="box">
                  <i class="fa-solid fa-gears"></i>
                  <h3>Maintenance-and-Support</h3>
                  <p>I provide ongoing support and maintenance services to keep your applications running 
                    smoothly. From bug fixes to updates and enhancements, I ensure your software remains up-to-date and secure.</p>

                </div>

                <div class="box">
                  <i class="fa-solid fa-thumbs-up"></i>
                  <h3>Professional-Experience</h3>
                  <p> I've successfully translated complex concepts into engaging visuals, ensuring seamless user 
                    experiences and strong brand identities.From concept to execution, I bring ideas to life through innovative solutions.</p>

                </div>
            </div>
        </div>
    </section>


    <!-- start Portfolio -->

    <section id="Portfolio" class="portfolio">
        <div class="contanier">
            <div class="sec-top">
                <h1><font color="white">Latest</font><span>Projects</span></h1>
            </div>

            <div class="boxs">

                <div class="box">
                    <div class="box-hover">
                      <span>My-portfolio-web</span>
                    </div>
                    <img src="static/img/web.jpg" alt="">
                </div>

                <div class="box">
                    <div class="box-hover">
                      <span>Our-Pak-Flag</span>
                    </div>
                    <img src="static/img/flag.jpg" alt="">
                </div>

                <div class="box">
                    <div class="box-hover">
                      <span>Text-Editor</span>
                    </div>
                    <img src="static/img/text.jpg" alt="">
                </div>

                <div class="box">
                    <div class="box-hover">
                      <span>Inv-Management-Sys</span>
                    </div>
                    <img src="static/img/inv.jpg" alt="">
                </div>

                <div class="box">
                    <div class="box-hover">
                      <span>Text-2-speech-Edi</span>
                    </div>
                    <img src="static/img/txt2.jpg" alt="">
                </div>

                <div class="box">
                    <div class="box-hover">
                      <span>Sch-Management-Sys</span>
                    </div>
                    <img src="static/img/sch.jpg" alt="">
                </div>

            </div>
        </div>
    </section>


    <!-- start Contact -->

    <section id="Contact" class="contact">
        <div class="contanier">
            <div class="sec-top">
                <h1><font color="white">Contact </font><span>Me</span></h1>
            </div>

            <div class="soc-link">
              <a href="https://wa.me/923097693760" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="https://www.linkedin.com/in/ismasharif/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://www.github.com/ismanouman" target="_blank"><i class="fa-brands fa-github"></i></a>

              <a href="https://www.instagram.com/ismanouman0/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <form action="">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="number" placeholder="Phone Number">
                <input type="email" placeholder="Email Address">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <button class="btn">Send Message</button>
            </form>
        </div>
    </section>
    <!-- start footer -->
    <section class="footer">
      <div class="contanier">
          <h1><font color="white">All @copyrights are reserverd by isma. </font></h1>
      </div>
    <!-- end footer -->

    <script src="static/js/app.js"></script></body>
</html>